**
!packages/**
!apps/player/Containerfile
!apps/player/go.mod
!apps/player/go.sum
!apps/player/LICENSE
!apps/player/LICENSING.md
!apps/player/THIRD_PARTY_NOTICES.md
!apps/player/cmd/**
!apps/player/internal/**
!apps/player/third_party/**
!apps/subtitles/Containerfile
!apps/subtitles/go.mod
!apps/subtitles/go.sum
!apps/subtitles/LICENSE
!apps/subtitles/LICENSING.md
!apps/subtitles/THIRD_PARTY_NOTICES.md
!apps/subtitles/cmd/**
!apps/subtitles/internal/**
!apps/subtitles/third_party/**
**/.env
**/.env.*
**/node_modules
**/.verification
